{% extends "navbar.html" %}

{% block content %}
<div class="container py-4">
    <h1 class="title has-text-primary">Add song</h1>
    <form id="edit-form" action="/songs/" method="post">
        <div class="field">
            <label class="label has-text-grey" for="input-method">Select Input Method</label>
            <div class="control">
                <div class="select">
                    <select id="input-method" name="input-method">
                        <option value="text-field">Text Field</option>
                        <option value="url-field">Single URL</option>
                        <option value="file-field">Import File</option>
                        <option value="folder-field">Import Folder</option>
                    </select>
                </div>
            </div>
        </div>

        <div id="text-input-field" class="field">
            <label class="label has-text-grey" for="chordpro"><a class="has-text-white-hover has-text-grey"
                    href="https://www.chordpro.org/">ChordPro format</a></label>
            <div class="control">
                <textarea class="textarea is-radiusless" id="chordpro" name="chordpro">
{title: Example}
{artist: Miki}

{start_of_verse}
[Am] [F] [C] [G]
{end_of_verse}
                </textarea>
            </div>
        </div>
        <div id="url-input-field" class="field" style="display: none;">
            <!-- Placeholder for the second input method -->
            <label class="label has-text-grey" for="url-field">Enter URL for chords</label>
            <div class="control">
                <input id="url-field" name="url-field" class="input" type="text" placeholder="Url">
            </div>
        </div>
        <div id="file-input-field" class="field" style="display: none;">
            <label class="label has-text-grey" for="file-field">Upload file with URLs</label>
            <h5 class="has-text-grey">Newline delimited urls for supported websites (Ultimate-guitar)</h5>
            <div class="control">
                <input id="file-field" name="file-field" class="input" type="file" accept=".txt">
            </div>
        </div>
        <div id="folder-input-field" class="field" style="display: none;">
            <label class="label has-text-grey" for="folder-field">Upload folder</label>
            <h5 class="has-text-grey">Folder with chordpro files with .txt suffix</h5>
            <div class="control">
                <input id="folder-field" name="folder-field" class="input" type="file" webkitdirectory directory>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">Save</button>
            </div>
            <div class="control">
                <button class="button is-danger" type="button"
                    onclick="document.getElementById('cancel-redirect').submit();">Cancel</button>
            </div>
        </div>
    </form>
    <form id="cancel-redirect" action="/" method="get" style="display:none;">
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const textarea = document.getElementById('chordpro');
        const form = document.getElementById('edit-form');
        const initialText = textarea.value;
        const inputMethod = document.getElementById('input-method');

        const textInputField = document.getElementById('text-input-field');
        const urlInputField = document.getElementById('url-input-field');
        const fileInputField = document.getElementById('file-input-field');
        const folderInputField = document.getElementById('folder-input-field');

        if (textarea) {
            textarea.style.height = 'auto';
            textarea.style.height = textarea.scrollHeight + 'px';

            textarea.addEventListener('input', () => {
                textarea.style.height = 'auto';
                textarea.style.height = textarea.scrollHeight + 'px';
            });
        }
        inputMethod.addEventListener('change', () => {
            textInputField.style.display = 'none';
            urlInputField.style.display = 'none';
            fileInputField.style.display = 'none';
            folderInputField.style.display = 'none';

            if (inputMethod.value === 'text-field') {
                textInputField.style.display = 'block';
            } else if (inputMethod.value === 'url-field') {
                urlInputField.style.display = 'block';
            } else if (inputMethod.value === 'file-field') {
                fileInputField.style.display = 'block';
            } else if (inputMethod.value === 'folder-field') {
                folderInputField.style.display = 'block';
            }
        });
    });
</script>
{% endblock %}
