{% extends "navbar.html" %}

{% block content %}
<div class="columns m-0">
    <div class="column p-0 is-one-third">
        <div class="box">
            <h1 class="title has-text-primary"> Difficulty </h1>
            Absolute Beginner
            Beginner
            Intermediate
            Advanced
        </div>
    </div>
    <div class="column p-0 is-two-thirds">
        <div class="box">
            <h1 class="title has-text-weight-medium">Songs by <span class="has-text-primary has-text-weight-bold">{{ artist }}</span></h1>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th
                            class="px-3 has-background-grey-darker is-size-7 has-text-grey-light is-uppercase is-three-quarters">
                            Song</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in songs %}
                    <tr>
                        <td>
                            <a href="/song/{{ song.object_id|string }}"
                                class="has-text-white-hover has-text-warning is-underlined">
                                {{ song.title }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
