{% extends "navbar.html" %}

{% block content %}
<div class="columns m-0">
    <div class="column p-0 is-one-third">
        <div class="box">
            <h1 class="title has-text-primary"> Difficulty </h1>
            <div class="field">
                <label class="label">Difficulty</label>

                <div class="control">
                    <ul>
                        <li><a href="/filter_songs?difficulty=easy" class="is-radiusless">Easy</a></li>
                        <li><a href="/filter_songs?difficulty=intermediate" class="is-radiusless">Intermediate</li>
                        <li><a href="/filter_songs?difficulty=hard" class="is-radiusless">Hard</a></li>
                    </ul>
                </div>
            </div>
            <div class="field">
                <label class="label">Genre</label>
                <div class="control">
                    <ul>
                        <li><a href="/filter_songs?genre=rock" class="is-radiusless">Rock</a></li>
                        <li><a href="/filter_songs?genre=pop" class="is-radiusless">Pop</a></li>
                        <li><a href="/filter_songs?genre=jazz" class="is-radiusless">Jazz</a></li>
                        <li><a href="/filter_songs?genre=classical" class="is-radiusless">Classical</a></li>
                    </ul>
                </div>
            </div>
            <div class="field">
                <label class="label">Artist</label>
                <div class="control">
                    <ul>
                        <li><a href="/filter_songs?artist=artist_name" class="is-radiusless">Artist Name</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="column p-0 is-two-thirds">
        <div class="box">
            <h1 class="title has-text-primary">Guitar chords</h1>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th
                            class="px-3 has-background-grey-darker is-size-7 has-text-grey-light is-uppercase is-one-quarter">
                            Artist</th>
                        <th
                            class="px-3 has-background-grey-darker is-size-7 has-text-grey-light is-uppercase is-three-quarters">
                            Song</th>
                        <th
                            class="px-3 has-background-grey-darker is-size-7 has-text-grey-light is-uppercase is-three-quarters">
                        </th>
                        <th
                            class="px-3 has-background-grey-darker is-size-7 has-text-grey-light is-uppercase is-three-quarters">
                        </th>

                    </tr>
                </thead>
                <tbody>
                    {% for song in songs %}
                    <tr>
                        <td>
                            <a href="/artist/{{ song.artist|string }}"
                                class="has-text-white-hover has-text-grey-lighter">
                                {{ song.artist }}
                            </a>
                        </td>
                        <td>
                            <a href="/songs/{{ song.id|string }}"
                                class="has-text-white-hovesong has-text-primary is-underlined">
                                {{ song.title }}
                            </a>
                        </td>
                        <td>
                            <a href="/songs/edit/{{ song.id|string }}" class="button is-small">Modify</a>
                        </td>
                        <td>
                            <form method="post" action="/songs/delete/{{ song.id|string }}"
                                onsubmit="return confirm('Are you sure you want to delete this song?');">
                                <button type="submit" class="button is-small is-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
