<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Songbook</title>
    <link rel="icon" type="image/x-icon" href="/static/guitar-pick.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bulma@1.0.0/js/bulma.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/print.css" media="print"/>
</head>

<body class="has-background-black">
    {% block navbar %}{% endblock %}
    {% block content %}{% endblock %}
</body>

</html>
