{% extends "navbar.html" %}

{% block content %}
<section class="section">
    <div class="columns has-background-grey">
        <div class="column is-offset-2">
            <h1 class="title has-text-dark">Guitar chords</h1>

            <table class="table is-striped is-narrow">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Title</th>
                        <th>Review</th>
                        <th>Hits</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in songs %}
                    <tr>
                        <td>
                            <a href="/artist/{{ song.artist_id|string }}" class="has-text-dark">
                                {{ song.artist }}
                            </a>
                        </td>
                        <td>
                            <a href="/song/{{ song.object_id|string }}" class="has-text-dark">
                                {{ song.title }}
                            </a>
                        </td>
                        <td>{{ song.review_score }}</td>
                        <td>{{ song.hits }}</td>
                        <td class="has-text-dark">{{ song.type }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}