{% extends "base.html" %}

{% block navbar %}

{% if show_navbar|default(True) %}
<nav class="navbar has-background-black-ter" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <a class="navbar-item hover-scale" href="/">
            <img src="/static/guitar-playing.png" alt="Guitar Playing Logo" class="navbar-icon">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item hover-scale is-uppercase is-size-5 has-text-grey-lighter" href="/">
                Home
            </a>

            <a class="navbar-item hover-scale is-uppercase is-size-5 has-text-grey-lighter" href="/songbook">
                Songbook
            </a>

            <a class="navbar-item hover-scale is-uppercase is-size-5 has-text-grey-lighter" href="/insert/">
                Add song chords
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if song and song.object_id %}
                    <a class="navbar-item" href="/edit/{{ song.object_id }}">Edit Song</a>
                    {% endif %}
                    <a class="button is-primary" disabled>
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" disabled>
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        // Get references to the burger menu and navbar menu
        const burgerMenu = document.querySelector('.navbar-burger');
        const navbarMenu = document.querySelector('.navbar-menu');

        // Add a click event listener to the burger menu
        burgerMenu.addEventListener('click', function () {
            // Toggle the "is-active" class on the navbar menu
            navbarMenu.classList.toggle('is-active');

            // Optionally control aria-expanded attribute for accessibility
            burgerMenu.setAttribute('aria-expanded', navbarMenu.classList.contains('is-active'));
        });
    });
</script>
{% endif %}
{% endblock %}