<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link href="styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="song">
      <div id="meta">
        <h1 id="title">{{ artist }} - {{ title }}</h1>
        <p id="capo">Capo: {{ capo }}</p>
      </div>

      <div id="content">
        {% set in_chorus = false %} {% set in_verse = false %} {% set
        verse_count = namespace(value=0) %} {% for line in content %} {% if
        line.startswith('{') %} {% set directive = line[1:-1] %} {% if directive
        == 'start_of_chorus' %} {% set in_chorus = true %}
        <div class="chorus">
          <p>Chorus</p>
          {% elif directive == 'end_of_chorus' %} {% set in_chorus = false %}
        </div>
        {% elif directive == 'start_of_verse' %} {% set in_verse = true %} {%
        set verse_count.value = verse_count.value + 1 %}
        <div class="verse">
          <p>Verse {{ verse_count.value }}</p>
          {% elif directive == 'end_of_verse' %} {% set in_chorus = false %}
        </div>
        {% endif %} {% else %}
        <div class="{{ 'chorus-line' if in_chorus else 'verse-line' }}">
          {% set parts = line.split('[') %} {% for part in parts %} {% if ']' in
          part %} {% set chord_lyric = part.split(']') %}
          <span
            class="chord{{ ' chorus' if in_chorus }}"
            style="vertical-align: super"
          >
            {{ chord_lyric[0] }}
          </span>
          {{ chord_lyric[1] }} {% else %} {{ part }} {% endif %} {% endfor %}
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </body>
</html>
