{% extends "navbar.html" %}

{% block content %}
<div class="container song m-6">
  <div class="columns">
    <div class="column is-half">
      <h1 class="title">{{ song.title }}</h1>
      <h2 class="subtitle">{{ song.artist }}</h2>
      {% if song.capo %}
      <p>Capo: {{ song.capo }}</p>
      {% endif %}
    </div>
    <div class="column is-half">
    </div>
  </div>

  <div class="columns is-multiline">
    {% for col_sections in [song.sections[:song.sections|length // 2], song.sections[song.sections|length // 2:]] %}
    <div class="column is-half">
      {% for section in col_sections %}
      {% include "section.html" %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}