
/* .chord {
  color: blue;
}

.chorus {
  font-weight: bold;
  color: green;
}

.verse-number {
  font-weight: bold;
  color: red;
} */

@page {
  size: A4;
  margin: 1cm;
}

.song {
  page-break-after: always; /* Add page break after each song */
}
