html,
body {
  min-height: 100%;
}
body {
  height: 100vh;
}
/* .panel.box {
  border-radius: 0;
  box-shadow: none;
} */

nav.navbar {
  height: 4.375rem;
  padding-left: 16%;
  padding-right: 16%;
  margin-bottom: 4%;
}
.navbar-item {
  margin: 0.5rem;
}
.has-navbar-shadow-with-gradient::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 6px; /* Adjust the height of the shadow as needed */
  background: linear-gradient(
    to bottom,
    rgb(54, 54, 54),
    rgba(38, 39, 38, 0.2)
  );
  pointer-events: none; /* Make sure the shadow doesn't interfere with content */
  z-index: 1; /* Adjust the z-index as needed */
}

.underline-on-hover {
  position: relative;
  text-decoration: none;
}

.underline-on-hover::after {
  content: "";
  background-color: #00d1b2;
  position: absolute;
  left: 50%; /* Start from the middle */
  bottom: 15%;
  width: 0; /* Initial state: no width */
  height: 2px; /* Adjust the height to control the thickness of the underscore */
  transform: translateX(-50%);
  transform-origin: bottom left;
  transition: width 0.3s ease; /* Adjust the transition duration as needed */
}

.underline-on-hover:hover::after {
  width: 80%;
}

.hover-scale {
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.hover-scale:hover {
  transform: scale(1.15); /* Adjust the scale factor as needed */
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .underline-on-hover::after {
    content: "";
    background-color: #00d1b2;
    position: absolute;
    left: 50%; /* Start from the middle */
    bottom: 10%;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    transform-origin: bottom left;
    transition: width 0.3s ease;
  }

  .underline-on-hover:hover::after {
    width: 95%; /* Set to 95% width on mobile devices */
  }
}
