html {
  font-family: Arial, sans-serif;
  min-height: 100%;
  height: 100%vh;
  margin-left: 10%;
  margin-right: 10%;
}

.box,
.button {
  box-shadow: none;
}
body {
  height: 100%vh;
}
.box,
.button,
.input,
.navbar {
  /* border-radius: 0; */
  margin: 2px;
}
nav.navbar {
  height: 1.375rem;
}

.navbar-item {
  margin: 0.5rem;
}

.hover-scale {
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.hover-scale:hover {
  transform: scale(1.15); /* Adjust the scale factor as needed */
}
.has-text-white-hover:hover {
  color:whitesmoke!important;
  text-decoration: none!important;
}