:root {
  --bulma-primary: hsl(42, 100%, 53%);
  --bulma-primary-h: 42;
  --bulma-primary-s: 100%;
  --bulma-primary-l: 53%;
  --bulma-primary-invert-l: 0%;

  --bulma-danger: hsl(5, 53%, 51%);
  --bulma-danger-h: 5;
  --bulma-danger-s: 53%;
  --bulma-danger-l: 51%;
  --bulma-danger-invert-l: 0%;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
}

.box,
.button {
  box-shadow: none;
}
body {
  height: 100%vh;
}
.box,
.button,
.input,
.select,
.navbar {
  border-radius: 0;
  margin: 2px;
}
nav.navbar {
  height: 1.375rem;
}

.navbar-item {
  margin: 0.5rem;
}

.hover-scale {
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.hover-scale:hover {
  transform: scale(1.15); /* Adjust the scale factor as needed */
}
.has-text-white-hover:hover {
  color: whitesmoke !important;
  text-decoration: none !important;
}
